@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem video</h1>
<img src="https://cdn.leonardo.ai/users/47469f4a-b451-4531-b6ab-3e99163db3bc/generations/93f1635e-8019-4823-8e1c-196647954037/DreamShaper_v7_Um_logo_esportivo_e_moderno_para_NunesSports_co_3.jpg" alt="Sua Imagem">

    <p>Learn about <a href="https://cdn.leonardo.ai/users/47469f4a-b451-4531-b6ab-3e99163db3bc/generations/93f1635e-8019-4823-8e1c-196647954037/DreamShaper_v7_Um_logo_esportivo_e_moderno_para_NunesSports_co_3.jpg">building Web apps with ASP.NET Core</a>.</p>
</div>
